streamlit
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langsmith
python-dotenv
openai
huggingface_hub
pypdf2
pypdf
faiss-cpu
sentence-transformers
torchvision
ragas
datasets
rapidfuzz
deepeval
chromadb
langchain-chroma
guardrails-ai